#face_img {
    width: 200px;
    height: 280px;
    border-radius: 15px;
}

#main-container {
    display: flex;
    align-items: center;
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
}

#right-container {
    margin-left: 20px;
}