.navbar,
a {
    color: gray;
}

.active {
    color: black;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.navbar-brand {
    color: black;
    position: relative;
    top: -2px;
}

#linkedin_img {
    width: 32px;
    height: 32px;
    margin-left: 5px;
}