<footer class="footer bg-dark">
    <div class="container">
        <div class="image-container">
            <a href="https://www.linkedin.com/in/noah-litwiller-a97556145/" target="_blank">
                <img src="../../../assets/footer-icons/LinkedIn-24-48-96-144-240-480px/linkedin-logo-white-letters.png" class="linkedin-icon"/>
            </a>
            <a href="https://github.com/NoahLitwiller" target="_blank">
                <img src="../../../assets/footer-icons/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png"/>
            </a>
        </div>
        <span style="color:#fff"><em>Noah Litwiller | noahlitwiller.com</em></span>
    </div>
  </footer>
