#mail_link {
    color: black;
}

#mail_link:hover {
    text-decoration: none;
    color: black;
}

#other_links {
    margin-left: 40%;
    line-height: 50px;
}

#page_title {
    top: 0.2em;
}

#mobile_page_title {
    display: none;
}

#main_container {
    width: 24%;
}

@media screen and (max-width: 1000px) {
    #right_header_section,
    #page_title {
        display: none;
    }
    #mobile_page_title {
        display: block;
        color: #808080;
        text-align: center;
    }
    #main_container {
        margin: 20%;
    }
    #left_container {
        display: none;
    }
    #right_container {
        display: flexbox;
        align-content: center;
    }
}

@media screen and (max-width: 700px) {
    body {
        position: initial;
        left: initial;
        display: flexbox;
        margin: 0 auto;
        width: 85%;
    }
    * {
        font-size: initial;
        display: flexbox;
        align-content: center;
    }
    #mail_link {
        font-size: 50%;
    }
    #github_img {
        margin-left: -10%;
    }
}