html,
body {
    height: 100%;
    font-family: 'IBM Plex Serif', serif;
}

body {
    margin: 0;
    margin-top: 20px;
    /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
}

#face_img {
    width: 200px;
    height: 280px;
    border-radius: 15px;
}

#main_container {
    display: flex;
    align-items: center;
    width: 35%;
    margin: 0 auto;
    margin-top: 2em;
}

#right_container {
    margin-left: 20px;
}

.navbar,
a {
    color: gray;
}

.active {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

#page_title {
    position: absolute;
    right: 45%;
    top: 0.1em;
}

.navbar-brand {
    color: black;
    position: relative;
    top: 0.1em;
}

#linkedin_img {
    width: 32px;
    height: 32px;
    margin-left: 0.5em;
}

#mail_img {
    width: 46px;
    height: 34px;
    margin-left: 0.1em;
}

.btn-toolbar {
    padding-top: 30px;
    display: flex;
    align-items: center;
    width: 20%;
    margin: 0 auto;
}

.btn-group {
    padding-right: 7px;
}

button>a {
    color: black;
}

.target_blank::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

@media screen and (max-width: 1000px) {
    #right_header_section {
        display: none !important;
    }
    #bottom_page_selectors {
        display: inline-block;
        margin-left: 92%;
    }
    .btn-toolbar,
    #main_container {
        margin-left: 50%;
    }
    .btn-group {
        padding-top: 5px;
    }
    body {
        width: 40%;
        margin-left: 5%;
    }
}